<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!--<a th:href="@{/admin/products}">Zarządzaj produktami</a>-->
<br>
<a th:href="@{/admin/categories}">Zarządzaj kategoriami</a><br>
<a th:href="@{/admin/promotedProducts}">Zarządzaj promowanymi produktami</a><br>
<a th:href="@{/admin/opportunity}">Złoty strzał</a><br>
<a th:href="@{/admin/orders}">Zarządaj zamówieniami</a><br>
</body>
</html>