<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h3>Szczegóły zamówienia</h3>

	<table class="table table-striped">
<tr>
			<th>order id</th>
			<th>customer id</th>
			<th>firstname</th>
			<th>lastname</th>
			<th>locality</th>
			<th>street</th>
			<th>zipcode</th>
			<th>shipment</th>
			<th>description</th>
		<tr>

			<td th:utext="${order.id}">...</td>
			<td th:utext="${order.customer.id}">...</td>
			<td th:utext="${order.firstname}">...</td>
			<td th:utext="${order.lastname}">...</td>
			<td th:utext="${order.locality}">...</td>
			<td th:utext="${order.street}">...</td>
			<td th:utext="${order.zipCode}">...</td>
			<td th:utext="${order.phone}">...</td>
			<td th:utext="${order.shipment}">...</td>
			<td th:utext="${order.description}">...</td>
		</tr>
	</table>
<br>

<br>

<h3>Produkty</h3>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Id orderDetail</th>
		<th>Id produktu</th>
		<th>Nazwa produktu</th>
		<th>Ilość</th>
		<th>Cena za sztuke</th>
		<th>Suma</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="d : ${orderDetails}">
		<td th:utext="${d.id}"></td>
		<td th:utext="${d.product.id}"></td>
		<td th:utext="${d.quantity}"></td>
		<td th:utext="${d.product.price}"></td>
		<td th:utext="${#numbers.formatDecimal(d.product.price*d.quantity,1,2,'COMMA')}+' zł'"></td>
	</tr>
	</tbody>
</table>


	<a th:href="@{/admin/orders}">Cofnij</a>

</body>
</html>