<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Moja strona</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/popper.min.js"></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<br>
		<h1>Edytuj produkt o id: <span th:utext="${product.id}"></span></h1>
		<br>
	
		<form class="form-horizontal" role="form" method="POST" th:action="@{/admin/products/edit(prodId=${product.id})}" th:object="${product}">

			Nazwa produktu: <input name="name" class="form-control" th:value="${product.name}" required autofocus>
			Opis produktu: <textarea name="description" class="form-control" th:utext="${product.description}" required autofocus></textarea>
			Cena produktu: <input name="price" class="form-control" th:value="${product.price}" required autofocus>
			Ilość produktu: <input name="quantity" class="form-control" th:value="${product.quantity}"  required autofocus>
			<!-- Id subkategorii produktu: <input id="subcategory.id" name="subcategory.id" class="form-control" th:value="${product.subcategory.id}" required autofocus> -->
			<br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Edytuj produkt</button>
		</form>
	</div>
	<a th:href="@{/admin/products(subCatId=${subCatId})}">Cofnij</a>
</body>
</html>