<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<tr>
		<td>id</td>
		<td>nazwa</td>
		<td>id produktu</td>
		<td></td>
		</tr>
		<tr th:each="p : ${promotedProducts}">
			<td th:utext="${p.id}"></td>
			<td><a th:href="@{/products/product(code=${p.product.id})}" th:utext="${p.product.name}"></a></td>
			<td th:utext="${p.product.id}"></td>
			<td><a th:utext="Usuń" th:href="@{/admin/promotedProducts/remove(id=${p.id})}"></a></td>
		</tr>
	</table>
	<a th:href="@{/admin/promotedProducts/add}">Dodaj promotedProduct</a>
	<br>
	<a th:href="@{/admin/}">Cofnij</a>
</body>
</html>