<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
  <head>
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">-->
  	<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
  	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

    <!--<script src="https://unpkg.com/vue"></script>-->
    <!--<script src="https://unpkg.com/http-vue-loader"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>-->
    <!--<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.5.7/vue-cookies.js"></script>-->
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/popper.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/vue.js"></script>
    <script src="/js/httpVueLoader.js"></script>
    <script src="/js/vue-resource.min.js"></script>
    <script src="/js/vue-router.js"></script>
    <script src="/js/vue-cookies.js"></script>
    <script src="/js/axios.min.js"></script> -->

    <!--<link href="lightbox/css/lightbox.css" rel="stylesheet">-->
    <!--<script src="lightbox/js/lightbox.js"></script>-->

    <link href="dependences/css/bootstrap.min.css" rel="stylesheet">
    <script src="dependences/js/popper.min.js"></script>
    <script src="dependences/js/jquery-3.3.1.min.js"></script>
    <script src="dependences/js/bootstrap.min.js"></script>

    <script src="dependences/js/vue.js"></script>
    <script src="dependences/js/httpVueLoader.js"></script>
    <script src="dependences/js/vue-resource.min.js"></script>
    <script src="dependences/js/vue-router.js"></script>
    <script src="dependences/js/vue-cookies.js"></script>
    <script src="dependences/js/axios.min.js"></script>

	  <title>SpringShop</title>
  </head>

  <body>
    <div id="my-app">
      <router-view></router-view>
    </div>

    <script type="text/javascript">

      Vue.use(VueRouter)
      Vue.use('vue-cookies')
      Vue.use('axios')

      axios.defaults.withCredentials = true;
      axios.defaults.headers.common['Access-Control-Allow-Credentials'] = 'true';

      //axios.defaults.headers.common['Access-Control-Allow-Origin'] = 'http://localhost:8080/';
      //Vue.http.headers.common['Access-Control-Allow-Origin'] = true;
      //Vue.http.headers.common['Access-Control-Allow-Origin'] = 'http://localhost:8080/';
      //Vue.http.headers.common['Access-Control-Allow-Credentials'] = 'true';

      var
      home =  httpVueLoader('home.vue'),
      login =  httpVueLoader('login.vue'),
      product =  httpVueLoader('product.vue'),
      products =  httpVueLoader('products.vue'),
      cart =  httpVueLoader('cart.vue'),
      signup =  httpVueLoader('singup.vue'),
      top =  httpVueLoader('top.vue'),
      order =  httpVueLoader('order.vue'),
      router = new VueRouter({
        routes:[
        {
          path: '/',
          component: home
        },
        {
          path: '/login',
          component: login
        },
        {
          path: '/products',
          component: products
        },
        {
          path: '/products/product',
          component: product
        },
        {
          path: '/cart',
          component: cart
        },
        {
          path: '/signup',
          component: signup
        },
        {
          path: '/top',
          component: top
        },
        {
          path: '/order',
          component: order
        }
        ]
      });

      var vue = new Vue({
        el: '#my-app',
        router: router
        // components: {
        //   'home': home,
        //   'products' : products,
        //   'top': top
        // }
      });
    </script>
  </body>
</html>
